name: Sample Orca SAST Scan Workflow
on:
  push:
    branches: ["main"]
  pull_request:
    branches: [ "main" ]
 
jobs: 
  orca-sast_scan:
    name: Orca SAST Scan
    runs-on: ubuntu-latest
    env:
      PROJECT_KEY: ccp
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Run Orca SAST Scan
        id: orca-sast-scan
        uses: orcasecurity/shiftleft-sast-action@v1
        with:
          api_token: ${{ secrets.ORCA_SECURITY_API_TOKEN }}
          project_key: ${{ env.PROJECT_KEY }}
          custom_sast_controls: custom-sast-rules/ 
          path:
            "./actual-code"  
 
